.ant-upload-select,
.ant-upload-list-item-container {
  width: 500px !important;
  height: 500px !important;
}
@media (max-width: 1300px) {
  .ant-upload-select,
  .ant-upload-list-item-container {
    width: 350px !important;
    height: 350px !important;
  }
}

@media (max-width: 1040px) {
  .ant-upload-select,
  .ant-upload-list-item-container {
    width: 300px !important;
    height: 300px !important;
  }
}

/* .ant-btn-icon .anticon-delete,
.anticon-eye {
  width: 40px !important;
  font-size: 40px !important;
} */

.ant-modal {
  width: 90% !important;
}

.ant-upload-picture-card-wrapper {
  display: flex !important;
  justify-content: center !important;
}

.ant-picker-calendar-month-select,
.ant-picker-calendar-year-select {
  height: 40px !important;
}
